WpfClientCalander/Connected Services/ServiceCalander/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CityList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityList" nillable="true" type="tns:CityList" />
  <xs:complexType name="City">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="EventList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventList" nillable="true" type="tns:EventList" />
  <xs:complexType name="Event">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="EventEnd" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EventGroup" nillable="true" type="tns:Groups" />
          <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EventStart" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="Groups">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupAdmin" nillable="true" type="tns:Users" />
          <xs:element minOccurs="0" name="GroupDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Users" nillable="true" type="tns:UsersList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Groups" nillable="true" type="tns:Groups" />
  <xs:complexType name="Users">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CityName" nillable="true" type="tns:City" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsGroupAdmin" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsManager" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="UsersList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersList" nillable="true" type="tns:UsersList" />
  <xs:complexType name="GroupsList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Groups" nillable="true" type="tns:Groups" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupsList" nillable="true" type="tns:GroupsList" />
</xs:schema>